{% extends 'base_guest.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissable" role="alert">
	 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
 {{message}}
</div>

{% endfor %}
{% endif %}


{% if all_coins %}
<table id="table_id" class="table table-bordered">
    <thead>
    <tr>
        <th><center>Country</center></th>
        <th><center>Currency Name</center></th>
        <th><center>Realse Year AD</center></th>
        <th><center>City</center></th>
        <th><center>KM#</center></th>
        <th><center>metal_type</center></th>
        <th><center>pick_number</center></th>
        <th><center>serial_number</center></th>


    </tr>
      </thead>
      <tbody>
	{% for coin in all_coins %}

	<tr>
        <td><center>{{coin.country}}</center></td>
		<td><center>{{coin.currency_name}}</center></td>
        <td><center>{{coin.realse_year_ad}}</center></td>
        <td><center>{{coin.print_city}}</center></td>
        <td><center>{{coin.km}}</center></td>
        <td><center>{{coin.metal_type}}</center></td>
        <td><center>{{coin.pick_number}}</center></td>
        <td><center>{{coin.serial_number}}</center></td>

    </tr>
	{% endfor %}
      </tbody>
</table>
{% endif %}
 
    </div>
{% endblock %}
{% block extra_javascript %}
    <script>
$(document).ready( function () {
    $('#table_id').DataTable();

} );
</script>
{% endblock extra_javascript %}



