{% extends 'base.html' %}
{% load humanize %}
{% block title %}Search{% endblock %}
{% block content %}
{% include "_modal.html" %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          View Search
        </button>
      </h2>
    </div>

       <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card card-body">
	  <form method="get" action="{% url 'search' %}">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="selectCountry">Country</label>

         <select class="form-control"  name="country" id="selectCountry">
 	<option></option>
{% for country in countries %}
  <option value="{{ country.pk }}"{% if country.pk == context.country %}selected{% endif %}>{{ country.name }}</option>
{% endfor %}
</select>

    </div>
    <div class="form-group col-md-4">
      <label for="currency_name">Currency Name</label>
      <input type="text" value="{{ context.currency_name }}" name="currency_name" class="form-control" id="currency_name">
    </div>
    <div class="form-group col-md-4">
      <label for="currency_value">Currency Value</label>
      <input type="text" value="{{ context.currency_value }}" name="currency_value" class="form-control" id="currency_value">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputRealseDateAD">Realse Year AD</label>
      <input type="text" value="{{ context.realse_year_ad }}" name="realse_year_ad" class="form-control" id="inputRealseDateAD">
    </div>
    <div class="form-group col-md-4">
     <label for="inputRealseDateAH">Realse Year AH</label>
      <input type="text" value="{{ context.realse_year_ah }}" name="realse_year_ah" class="form-control" id="inputRealseDateAH">
    </div>
       <div class="form-group col-md-4">
      <label for="inputMetalType">Metal Type</label>
      <input type="text" value="{{ context.metal_type }}" name="metal_type" class="form-control" id="inputMetalType">
    </div>

  </div>
 <div class="form-row">
       <div class="form-group col-md-4">
      <label for="inputKM">KM Number</label>
      <input type="text" value="{{ context.km }}"  name="km" class="form-control" id="inputKM">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPickNumber">Pick Number</label>
      <input type="text" value="{{ context.pick_number }}"  name="pick_number" class="form-control" id="inputPickNumber">
    </div>
    <div class="form-group col-md-4">
     <label for="inputSerial">Serial Number</label>
      <input type="text" value="{{ context.serial_number }}" name ="serial_number" class="form-control" id="inputSerial">
    </div>

  </div>
  <div class="form-row">
       <div class="form-group col-md-4">
      <label for="inputQuantity">Quantity</label>
      <input type="text" value="{{ context.quantity }}" name="quantity" class="form-control" id="inputQuantity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputUSAPrice">USA Price</label>
      <input type="text" value="{{ context.usa_price }}" name="usa_price" class="form-control" id="inputUSAPrice">
    </div>
    <div class="form-group col-md-4">
     <label for="inputCatalogPrice">Catalog Price</label>
      <input type="text" value="{{ context.catalog_price }}" name="catalog_price" class="form-control" id="inputCatalogPrice">
    </div>

  </div>

          <div class="form-row">

      <div class="form-group col-md-4">
      <label for="selectCategory">Category</label>

         <select class="form-control" name="category" id="selectCategory">
 	<option></option>
{% for category in categories %}
  <option value="{{ category.pk }}"{% if category.pk == context.category %}selected{% endif %}>{{ category.name }}</option>
{% endfor %}
</select>

    </div>
               <div class="form-group col-md-4">
      <label for="remarks">Remarks</label>
      <input type="text" value="{{ context.remarks }}" name="remarks" class="form-control" id="remarks">
    </div>
                         <div class="form-group col-md-4">
      <label for="print_city">Print City</label>
      <input type="text" value="{{ context.print_city }}" name="print_city" class="form-control" id="print_city">
    </div>
  </div>

 <button type="submit" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Search
        </button>
          <a href="{% url 'search' %}" class="btn btn-secondary">Cancel</a>
</form>
  </div>
    </div>
  </div>

 </div>
<br>
 <table  id="table_id" class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">ID</th>
                    <th class="text-center" scope="col">Country</th>
                    <th class="text-center" scope="col">Currency Name</th>
                    <th class="text-center" scope="col">Realse Year AD</th>
                    <th class="text-center" scope="col">City</th>
                    <th class="text-center" scope="col">KM#</th>
                    <th class="text-center" scope="col">Quantity</th>
                    <th class="text-center" scope="col">USA Price</th>
                    <th class="text-center" scope="col">USA Total</th>
                    <th class="text-center" scope="col">SAR Total</th>
                    <th class="text-center" scope="col">Read / Update / Delete</th>
                  </tr>
                </thead>
                  <tbody></tbody>
              </table>

{% endblock %}
{% block extra_javascript %}
 <script>
    $(document).ready(function() {
        $('#table_id').DataTable( {
            "select": true,
            "fixedHeader": true,
            "scrollY": "370px",
            "scrollCollapse": true,
            "stateSave": true,
            "searching": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                 url: '{% url "coins_search_json" %}',
                "type": "get",
                  "data": {
                  "csrfmiddlewaretoken": "{{ csrf_token }}",
                  "country": "{{ filter_coins.country }}",
                  "category": "{{ filter_coins.category }}",
                  "currency_name": "{{ filter_coins.currency_name }}",
                  "currency_value": "{{ filter_coins.currency_value }}",
                  "realse_year_ad": "{{ filter_coins.realse_year_ad }}",
                  "realse_year_ah": "{{ filter_coins.realse_year_ah }}",
                  "print_city": "{{ filter_coins.print_city }}",
                  "usa_price": "{{ filter_coins.usa_price }}",
                  "km": "{{ filter_coins.km }}",
                  "metal_type": "{{ filter_coins.metal_type }}",
                  "catalog_price": "{{ filter_coins.catalog_price }}",
                  "pick_number": "{{ filter_coins.pick_number }}",
                  "serial_number": "{{ filter_coins.serial_number }}",
                  "remarks": "{{ filter_coins.remarks }}",
                  }
            },
            columnDefs: [
            {
             orderable: false,
             targets: [8,9,10]
             },
             {
             "className": "dt-center",
              "targets": "_all"
             }

            ],
            "columns": [
                { "data": "id"},
                { "data": "country" },
                { "data": "currency_name" },
                { "data": "realse_year_ad"},
                { "data": "print_city" },
                { "data": "km" },
                { "data": "quantity" },
                { "data": "usa_price" },
                { "data": "usa_total_price" },
                { "data": "sar_total_price" },
                { "data":  null,
                render: function ( data, type, row ) {
                return '<button type="button" class="read-coin btn btn-sm btn-primary" data-id="/read/' +  data.id + '"> ' +
                '<span class="fa fa-eye"></span></button>' +
                ' <button type="button" class="update-coin btn btn-sm btn-success" data-id="/update/' +  data.id + '"> ' +
                '<span class="fa fa-pencil-alt"></span></button>' +
                ' <button type="button" class="delete-coin btn btn-sm btn-danger" data-id="/delete/' +  data.id + '"> ' +
                '<span class="fa fa-trash"></span></button>'
                }
                }
            ],
               "createdRow": function ( row, data, index ) {
               $('.read-coin', row).modalForm({formURL:$('.read-coin', row).data('id')});
               $('.update-coin', row).modalForm({formURL:$('.update-coin', row).data('id')});
               $('.delete-coin', row).modalForm({formURL:$('.delete-coin', row).data('id')});
               }
               });
               }
               );
</script>
<script type="text/javascript">
   $(document).ready(function() {

       // hide id column
      var table = $('#table_id').DataTable();
      table.column( 0 ).visible( false );

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });

  </script>

{% endblock extra_javascript %}






