{% extends 'base.html' %}
{% csrf_token %}
{% load humanize %}
{% block title %}Home{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissable" role="alert">
	 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
 {{message}}
</div>

{% endfor %}
{% endif %}

<form>
    {% csrf_token %}
    <table id="table_id" class="table table-bordered">
    <thead>
    <tr>
        <th><center>Country</center></th>
        <th><center>Currency Name</center></th>
        <th><center>Realse Year AD</center></th>
        <th><center>City</center></th>
        <th><center>Quantity</center></th>
        <th><center>USA Price</center></th>
        <th><center>KM#</center></th>
    </tr>
      </thead>
      <tbody>
	<tr>
		<td><center>{{coin.currency_name}}</center></td>
        <td><center>{{coin.realse_year_ad}}</center></td>
        <td><center>{{coin.print_city}}</center></td>
        <td><center>{{coin.quantity}}</center></td>
        <td><center>${{coin.usa_price|floatformat:2|intcomma}}</center></td>
        <td><center>{{coin.km}}</center></td>
    </tr>
      </tbody>
</table>
</form>


    </div>
{% endblock %}
{% block extra_javascript %}
  <script>
    $(document).ready(function() {
        $('#table_id').DataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": {
                 url: '{% url "list" %}',
                "type": "POST"
            },
            "columns": [
                { "data": "country" },
                { "data": "currency_name" },
                { "data": "realse_year_ad" },
                { "data": "print_city" },
                { "data": "quantity" },
                { "data": "usa_price" },
                { "data": "km" }
            ]
        } );
    } );
</script>
{% endblock extra_javascript %}



